


/* #region menu dropdown */

.d-menu {
    height: 0;
    padding: 0;
    padding-top: 5px;
    overflow: hidden;
    border: none;
    border-radius: 0;
    top: 98% !important;
    left: 0;
    right: 0;
    transition: height 0.3s ease-in-out;
}

.small .d-menu.show {
    height: 140px;
}

.medium .d-menu.show {
    height: 180px;
}

.large .d-menu.show {
    height: 200px;
}


.wid {
    width: 70px;
}

.d-menu .top {
    width: 80%;
    margin: 0 auto;
    margin-bottom: auto;
}

.d-menu .at {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    flex-basis: 200px;
    text-align: center;
}

.d-menu .at:hover {
    background-color: transparent;
    box-shadow: 0 0 5px gray;
}

.d-menu .bottom {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5px;
}

.d-menu .ab {
    text-align: center;
}

.d-menu .ab:hover {
    background-color: transparent;
    color: #006eff;
}

.d-menu .ab span {
    color: #006eff;
    margin-right: 5px;
    background-color: #006eff;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-bottom: 2px;;
    vertical-align: middle;
    border-radius: 50%;
}

/* #endregion menu dropdown */

/* #region ALL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}
/* #endregion ALL */

/* #region root */

:root {
    --padding-horizontal-page-web-xs: 12px;
}

/* #endregion root */

/* #region header */

body header nav .nav-link:hover {
    color: #0d82fd !important;
}

#logo {
    height: 8px;
}

#lens {
    height: 1.5rem;
}

header {
    display: contents;
}

#nav-fix {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

/* #endregion header */

/* #region #hero */

main #hero .section-bg {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 200px;
    filter: opacity(0);
    animation: anim-background-hero 1s 0.3s forwards;
}

main #hero .section-bg,
main #games .section-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main #hero .container button,
main #games .container button {
    padding: 2px;
    border: 2px solid transparent;
}

main #hero .container button:hover,
main #games .container button:hover {
    padding: 2px;
    border: 2px solid #cd3d0f;
}

main #hero .container button span,
main #games .container button span {
    background-color: #cd3d0f;
}

main #hero .bottom .col,
main #games .bottom .col {
    cursor: pointer;
}

main #hero .bottom .col img {
    border-radius: 20px;
    filter: opacity(0.7);
    position: relative;
    bottom: 0;
    box-shadow: 0 0 0 #000;
    transition: all 0.2s ease-in-out;
}

main #hero .bottom .col:hover img{
    border-radius: 20px;
    filter: opacity(1);
    bottom: 8px;
    box-shadow: 0 5px 5px rgb(181, 181, 181);
}

main #hero .bottom .col .active {
    border: 2px solid #71b0e3;
    padding: 2px;
}

/* #region animation */

@keyframes anim-background-hero {
    0%{
        filter: opacity(0);
    }
    100%{
        filter: opacity(1);
    }
}

main #hero .icon {
    filter: opacity(0);
    position: relative;
    top: 20px;
    animation: start-anim-hero 1s 0.5s forwards;
}

main #hero h3 {
    filter: opacity(0);
    position: relative;
    top: 20px;
    animation: start-anim-hero 1s 0.6s forwards;
}

main #hero p {
    filter: opacity(0);
    position: relative;
    top: 20px;
    animation: start-anim-hero 1s 0.6s forwards;
}

main #hero button {
    filter: opacity(0);
    position: relative;
    top: 20px;
    animation: start-anim-hero 1s 0.6s forwards;
}

@keyframes start-anim-hero {
    0%{
        filter: opacity(0);
        position: relative;
        top: 20px;
    }
    85%{
        filter: opacity(1);
        position: relative;
        top: 5;
    }
    100%{
        filter: opacity(1);
        position: relative;
        top: 0;
    }
}

/* #endregion animation */

/* #endregion main section #hero */

/* #region PS5 */

#PS5 input[type="radio"]{
    display: none;
}

#PS5 .azure {
    color: #147dd2;
}

main #PS5 .container button {
    padding: 2px;
    border: 2px solid transparent;
    background-color: transparent;
}

main #PS5 .container button:hover {
    padding: 2px;
    border: 2px solid #0b5ed7;
}

main #PS5 .container.bottom .col {
    cursor: pointer;
    filter: opacity(0.6);
    transition: all 0.2s ease-in-out;
}

main #PS5 .container.bottom .col:hover {
    filter: opacity(1);
}

/* #region images ps5 */

.images-ps5 .imag {
    height: 636px;
}

.images-ps5 img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* ps5 */
.images-ps5 .ps5 {
    filter: opacity(0);
    transition: all 0.5s;
}

#ps5:checked ~ .images-ps5 .ps5 {
    filter: opacity(1);
}

#ps5:not(:checked) ~ .images-ps5 .ps5 {
    filter: opacity(0);
}

.a-button label[for="ps5"] {
    border-bottom: 3px solid #fff;
}

#ps5:checked ~ .a-button label[for="ps5"] {
    border-bottom: 3px solid #2586d5;
    filter: opacity(1);
}

/* joypad */
.images-ps5 .joypad {
    filter: opacity(0);
    transition: all 0.5s;
}

#joypad:checked ~ .images-ps5 .joypad {
    filter: opacity(1);
}

#joypad:not(:checked) ~ .images-ps5 .joypad {
    filter: opacity(0);
}

.a-button label[for="joypad"] {
    border-bottom: 3px solid #fff;
}

#joypad:checked ~ .a-button label[for="joypad"] {
    border-bottom: 3px solid #2586d5;
    filter: opacity(1);
}

/* headset */
.images-ps5 .headset {
    filter: opacity(0);
    transition: all 0.5s;
}

#headset:checked ~ .images-ps5 .headset {
    filter: opacity(1);
}

#headset:not(:checked) ~ .images-ps5 .headset {
    filter: opacity(0);
}

.a-button label[for="headset"] {
    border-bottom: 3px solid #fff;
}

#headset:checked ~ .a-button label[for="headset"] {
    border-bottom: 3px solid #2586d5;
    filter: opacity(1);
}

/* remote */
.images-ps5 .remote {
    filter: opacity(0);
    transition: all 0.5s;
}

#remote:checked ~ .images-ps5 .remote {
    filter: opacity(1);
}

#remote:not(:checked) ~ .images-ps5 .remote {
    filter: opacity(0);
}

.a-button label[for="remote"] {
    border-bottom: 3px solid #fff;
}

#remote:checked ~ .a-button label[for="remote"] {
    border-bottom: 3px solid #2586d5;
    filter: opacity(1);
}

/* camera */
.images-ps5 .camera {
    filter: opacity(0);
    transition: all 0.5s;
}

#camera:checked ~ .images-ps5 .camera {
    filter: opacity(1);
}

#camera:not(:checked) ~ .images-ps5 .camera {
    filter: opacity(0);
}

.a-button label[for="camera"] {
    border-bottom: 3px solid #fff;
}

#camera:checked ~ .a-button label[for="camera"] {
    border-bottom: 3px solid #2586d5;
    filter: opacity(1);
}

/* #endregion images ps5 */

/* #endregion PS5 */

/* #region games */

main #games .section-bg {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 50px;
}

main #games sup {
    font-size: 0.7rem;
}

main #games .bottom .col img {
    border-radius: 20px;
    filter: blur(0);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

main #games .bottom .col:hover img {
    filter: blur(0.5px);
    transform: scale(1.01);
}

/* #endregion games */

/* #region PS4 */

main #PS4 .container button {
    padding: 2px;
    border: 2px solid transparent;
    background-color: transparent;
}

main #PS4 .container button:hover {
    padding: 2px;
    border: 2px solid #0b5ed7;
}

/* #endregion PS4 */

/* #region PS-Plus */

#PS-Plus {
    background-color: #bebcbb;
}

#PS-Plus .col .img,
#PS-Now .col .img {
    width: 75%;
}

#PS-Plus .container button {
    padding: 2px;
    border: 2px solid transparent;
    background-color: transparent;
}

#PS-Plus .container button span {
    color: #3066e6;
}

#PS-Plus .container button:hover {
    padding: 2px;
    border: 2px solid #f9fafb;
}

/* #endregion PS-Plus */

/* #region discount */

#discount .col img {
    cursor: pointer;
    transform: scale(1);
    filter: blur(0);
    transition: all 0.2s ease-in-out;
}

#discount .col img:hover {
    transform: scale(1.02);
    filter: blur(0.5px);
    transition: all 0.2s ease-in-out;
}

/* #endregion discount */

/* #region PS-New */

#PS-Now {
    background-color: #161c3b;
}

#PS-Now .container button {
    padding: 2px;
    border: 2px solid transparent;
    background-color: transparent;
}

#PS-Now .container button:hover {
    padding: 2px;
    border: 2px solid #f9fafb;
}

/* #endregion PS-Plus */

/* #region icons */

#social .col {
    cursor: pointer;
    filter: blur(0);
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

#social .col:hover {
    transform: scale(1.02);
    filter: blur(0.5px);
}

/* #endregion social */

/* #region footer */

footer {
    background-color: #00439c;
    color: #fff;
}

footer .top .global .img {
    width: 27px;
}

footer a {
    display: block;
    margin: 0.5rem 0;
    color: #fff;
    text-decoration: none;
}

footer .bottom a {
    display: inline-block;
    text-decoration: underline;
}

footer a:hover {
    color: #fff;
}

footer .bottom .img {
    width: 120px;
}

/* #endregion footer */

