


/* #region root */

:root {
    --padding-horizontal-page-web-xs: 12px;
}

/* #endregion root */

/* #region header */

#logo {
    height: 8px;
}

#lens {
    height: 1.5rem;
}

header {
    display: contents;
}

#nav-fix {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

/* #endregion header */

/* #region main section #hero */

main #hero .section-bg {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 200px;
}

main #hero .section-bg,
main #games .section-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

main #hero .container button,
main #games .container button {
    background-color: #cd3d0f;
}

main #hero .bottom .col img,
main #games .bottom .col img {
    border-radius: 20px;
}

main #hero .bottom .col .active {
    border: 2px solid #71b0e3;
    padding: 2px;
}
/* #endregion main section #hero */

/* #region PS5 */

#PS5 .active {
    border-bottom: 2px solid #2586d5;
}

/* #endregion PS5 */

/* #region games */

main #games .section-bg {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 50px;
}

main #games sup {
    font-size: 0.7rem;
}

/* #endregion games */

/* #region PS-Plus */

#PS-Plus {
    background-color: #bebcbb;
}

#PS-Plus button {
    color: #6188e3;
}

#PS-Plus .col .img,
#PS-New .col .img {
    width: 75%;
}

/* #endregion PS-Plus */

/* #region PS-New */

#PS-New {
    background-color: #161c3b;
}

/* #endregion PS-Plus */




